#example of application.yml
#これは開発用の設定です。
server.port: 8080
spring:
#    datasource:
#        url: jdbc:mysql://localhost:3306/mysql
#        username: mysql
#        password: mysql
    jpa:
        show-sql: false
        hibernate:
            ddl-auto: create-drop
        properties:
            hibernate:
                format_sql: true
    thymeleaf:
        cache: false
logging:
    level:
        org.hibernate.SQL: DEBUG
        org.hibernate.type: TRACE
